@use "sass:math";

@for $i from 1 through 12 {
  .column-extra-small-#{$i},
  .column-small-#{$i} {
    min-height: 1px;
    padding-left: math.div($width-gutter, 2);
    padding-right: math.div($width-gutter, 2);
    position: relative;
  }

  .column-small-#{$i} {
    @media (min-width: $width-screen-small-minimum) {
      float: left;
      width: math.percentage(math.div($i, 12));
    }
  }

  .column-small-push-#{$i} {
    @media (min-width: $width-screen-small-minimum) {
      left: math.percentage(math.div($i, 12));
    }
  }

  .column-extra-small-#{$i} {
    float: left;
    width: math.percentage(math.div($i, 12));
  }

  .column-extra-small-push-#{$i} {
    left: math.percentage(math.div($i, 12));
  }
}

.hidden-extra-small {
  @media (max-width: $width-screen-extra-small-maximum) {
    display: none;
  }
}

.row {
  @include clearfix;

  margin-left: -(math.div($width-gutter, 2));
  margin-right: -(math.div($width-gutter, 2));
}

.visible-extra-small {
  display: none;

  @media (max-width: $width-screen-extra-small-maximum) {
    display: inherit;
  }
}
